.container{
    margin: 0 1em;
    padding: 1em 0;
}
.repository-container {
  display: grid;
  gap: 1em 1em;
  margin: 1em 0;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.repository-card {
  padding: 1em 1em;
  display: inline-grid;
  border: green solid 1px;
  min-width: 320px;
  border-radius: 10px;
}
.long-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 320px;
}

.active{
  color: blue;
  background-color: thistle;
}